@{
    Layout = null;
}

<!DOCTYPE html>

<p>Bu sayfaya erişim yetkiniz bulunmamaktadır.</p>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AccessDenied</title>
</head>
<body>
</body>
</html>
